*{
	margin : 0;
	padding : 0;
	font-family : Century Gothic;
	
}

body{
	background-image : url(../quil2.jpg);
	height : 100vh;
	background-size : cover;
	background-position : center;
	background-repeat : no repeat;
	
}
h1 {
	text-align: center;
	display: block;
	

}
h2 {
	text-align: center;
	display: block;
	color : #e91e63;
	

}

}



input[type="file"]{
	display: none;
}
.center{
	height:60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#logos-row{
	display: flex;
	align-items:flex-end;
	justify-content: space-between;
}
.logo-col{
	display: inline-block;
	max-width: 20%;
	
	
	
}